stages:
  - build_infra
  - configure_servers

variables:
  TF_IN_AUTOMATION: "true"

deploy_terraform:
  stage: build_infra
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  before_script:
    - cd terraform            
    - terraform init          
  script:
    - terraform apply -auto-approve
    - mv ../inventory.ini ../inventory.ini || mv inventory.ini ../inventory.ini
  artifacts:
    paths:
      - inventory.ini
      - terraform/terraform.tfstate
  only:
    - main


configure_ansible:
  stage: configure_servers
  image: willhallonline/ansible:latest
  before_script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - cat "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - echo "" >> ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - export ANSIBLE_HOST_KEY_CHECKING=False
  script:
    - ansible-playbook -i inventory.ini ansible/playbook.yml --private-key ~/.ssh/id_rsa
  dependencies:
    - deploy_terraform
  only:
    - main